@font-face {
  font-family: 'TT Lakes';
    src:  local('TT Lakes Regular'), 
          local('TTLakes-Regular'),
          url('fonts/TTLakes-Regular.ttf') format('truetype'),
          url('fonts/TTLakes-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src:  local('TT Lakes Bold'), 
        local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.ttf') format('truetype'),
        url('fonts/TTLakes-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
}

body,html{
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
  font-family: "TT Lakes", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.header{
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.header__title{
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  font-weight: normal;

  color: #7E7E82;
  margin: 0;
  margin-left: 16px;
  padding-top: 16px;
}


/* Свайпер */

.brands{
  width: auto;
  height: 72px !important;
}

.swiper-wrapper {
  width: 320px;
  padding: 0;
  height: 72px !important;
}

.brands__list {
  margin: 0;
  padding: 0;
}
.swiper-slide {
  border-radius: 6px;
  width: 240px !important;
  height: 72px !important;
  background-color: #fff;
  margin-left: 20px;
  border: #EAEAEA 1px solid;
  box-sizing: border-box;
}

.swiper-slide:hover{ 
  background-color: #a5f9e233;
  box-sizing: border-box;
  transition: 1s;
}
 /* картинки на карточках */

.brands__link{
  display: inline-block;
  width: 240px;
  height: 72px;
}

.brands__link--brand-1{
  background: url(ic/lenovo.png) no-repeat 10% 50%;
}

.brands__link--brand-2{
  background: url(ic/apple.png) no-repeat 10% 50%;
}

.brands__link--brand-3{
  background: url(ic/hp.png) no-repeat 10% 50%;
}

.brands__link--brand-4{
  background: url(ic/acer.png) no-repeat 10% 50%;
}

.brands__link--brand-5{
  background: url(ic/bosch.png) no-repeat 10% 50%;
}

.brands__link--brand-6{
  background: url(ic/sony.png) no-repeat 10% 50%;
}

.brands__link--brand-7{
  background: url(ic/veiwsonic.png) no-repeat 10% 50%;
}

.brands__link--brand-8{
  background: url(ic/samsung.png) no-repeat 10% 50%;
}

.brands__link--brand-9{
  background: no-repeat url(ic/apple.png) 10% 50%;

}

.brands__link--brand-10{
  background: url(ic/hp.png) no-repeat 10% 50%;
}

.brands__link--brand-11{
  background: url(ic/samsung.png) no-repeat 10% 50%;
} 

/* стрелочки в карточках */

.brands__link::after{
  display: block;
  content: '';
  background: url(ic/go.svg) no-repeat right;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  top: 16px;
}

/* Пагинация */

.swiper-pagination{
  position: static !important;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  display: inline-block !important;
  background: rgb(129, 129, 129) !important;
  cursor: pointer !important;
}

.swiper-pagination-bullet-active {
  background: rgba(181, 182, 188, 1) !important;
}

/* кнопка показать/скрыть */

.brands__wrapper-button {
  display: none;
}

@media(min-width:320px){
  .shadow{
    position: absolute;
    width: 24px !important;
    height: 81px;
    top: 91px;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 10 !important;
  }

}

@media(min-width:768px){

  .header{
    height: 56px;
    margin-bottom: 24px;
  }
  
  /* кнопка показать все/скрыть */

  .brands__wrapper-button {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #F8F8F8;
    z-index: 1;
    height: 161px;
    top: 255px;
    transform: translateY(0);
    transition: transform 0.3s;
  }

  .brands__wrapper-button-show{
    display: block;
    position: absolute;
    width: 100%;
    background-color: #F8F8F8;
    z-index: 1;
    height: 161px;
    top: 255px;
    transform: translateY(185px);
    transition: transform 0.3s;
  }

  .wrapper-button__button {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;

    width: 134px;
    height: 24px;
    padding: 0;
    margin-left: 24px;
    border: none;
    background-color: #F8F8F8;
    transform: translateY(9px);
  }

  .wrapper-button__button::before{
    content: '';
    display: inline-block;
    width: 7.41px;
    height: 10.29px;
    background: url(ic/arrow.svg) no-repeat center;
    margin-right: 17.29px;
  }

  .wrapper-button__button-show {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;
    
    width: 88px;
    height: 24px;
    padding: 0;
    margin-left: 24px;
    border: none;
    background-color: #F8F8F8;
    transform: translateY(0px);
  }

  .wrapper-button__button-show::before{
    content: '';
    display: inline-block;
    width: 7.41px;
    height: 10.29px;
    background: url(ic/arrowUp.svg) no-repeat center;
    margin-right: 15.29px;
  }

  .swiper-slide {
    margin: 0;
  }

  .swiper-pagination{
    display: none;
  }

  .brands__list{
  display: grid !important;
  grid-template-columns: repeat(3, 224px) !important;
  row-gap: 16px !important;
  column-gap: 24px !important;
  height: 100% !important;
  margin-left: 24px;
  }    
  .brands__item{
    width: 224px !important;
  }

  .brands__link{
    width: 224px !important;
  }
}

@media(min-width:1120px){

  .brands__wrapper-button-show{
    transform: translateY(119px);
  }  

  .wrapper-button__button-show{
    margin-left: 31px;
  }

  .wrapper-button__button{
    margin-left: 32px;
  }

  .brands__list{
    grid-template-columns: repeat(4, 240px) !important;
    column-gap: 32px !important;
  }

  .brands__item{
    width: 240px !important;
  }

  .brands__link{
    width: 240px !important;
  }
}
